body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
}
/* Text */
h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 45px;
}

h4, h5, p, a {
    font-family: 'Monda', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* Nav */
#navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4%;
    background-color: #272727;
    transition: height 400ms ease-in-out;
}

#navbar-container:hover {
    height: 5%;
}

#toggleButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

#plus {
    /* make this position absolute top 90% or something */
    position: absolute;
    bottom: 50%;
    color: white;
    rotate: none;
    transition: rotate 600ms ease-in-out, bottom 600ms ease-in-out;
}

#plus.open {
    bottom: 15%;
    rotate: 45deg;
}

nav {
    display: none;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0; /* Set initial height to 0 */
    justify-content: flex-end;
    align-items: center;
    transition: height 400ms ease-in-out;
    position: relative;
}

#navbar-container.open {
    height: 15%;
    display: flex;
}

#navbar.open {
    display: flex;
    overflow:  visible;
    height: 100%;
}
 
nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 100px);
    text-decoration: none;
    margin-right: 2rem;
    padding: 0;
    gap: 1em;
    z-index: 3;
}

nav li {
    text-align: right;
    margin: 10px 0 10px 0;
}

nav a {
    color: white;
}

a:hover {
    color: darkslategrey;
    transition: color 600ms ease;
}