* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: lightgrey;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    transition: margin-top 0.5s ease;
}

/* Text */
h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 45px;
}

h4, h5, p, a {
    font-family: 'Monda', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Nav */
#navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: #272727;
    transition: height 400ms ease-in-out;
}

#navbar-container:hover {
    height: 5%;
}

#toggleButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

#plus {
    /* make this position absolute top 90% or something */
    position: absolute;
    bottom: 50%;
    color: white;
    rotate: none;
    transition: rotate 600ms ease-in-out, bottom 600ms ease-in-out;
}

#plus.open {
    bottom: 15%;
    rotate: 45deg;
}

nav {
    display: none;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0; /* Set initial height to 0 */
    justify-content: flex-end;
    align-items: center;
    transition: height 400ms ease-in-out;
    position: relative;
}

#navbar-container.open {
    height: 15%;
    display: flex;
}

#navbar.open {
    display: flex;
    overflow:  visible;
    height: 100%;
}
 
nav ul {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    text-decoration: none;
    margin-right: 2rem;
    padding: 0;
    gap: 1em;
    z-index: 3;
}

nav li {
    text-align: right;
    margin: 10px 0 10px 0;
}

nav a {
    color: white;
}

a:hover {
    color: darkslategrey;
    transition: color 600ms ease;
}

/* Header */
header {
    height: 100vh;
    width: 100%;
}

header ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0;
    padding: 0;
    margin: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

header li {
    width: fit-content;
}

#name {
    margin: 50px;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    padding: 50px;
}

/* Portfolio */
/* to get each other portfolio section to display on the other side of the screen*/
#portfolio .website:nth-child(even) {
    align-items: flex-end;
}

#portfolio h5 {
    margin: 0 10px 0;
}

#portfolio {
    margin-top: 100px;
}

/* About me */
#about-me {
    height: 70vh;
}

#about-me p {
    padding: 20px;
    width: 60%;
}

/* placeholder */
.placeholder {
    width: 70%;
    height: 75%;
    background-color: #272727;
}

/* hide the scrollbar but keep function*/
::-webkit-scrollbar {
    display: none;
}

/* Footer */
footer {
    background-color: #272727;
    height: 40px;
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}

footer h5 {
    color: white;
    width: fit-content;
    margin-right: 50px;
}

/* Contact */

#contact {
    height: 78vh;
    padding-top: 0;
}

#contact h3 {
    padding: 50px;
    margin-bottom: 100px;
}


